* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  color: #ffffff;
  font-family: sans-serif;
  user-select: none;
}
.location,
.tmp, .loadingDiv {
  height: 30vh;
  /* width: 50%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tmp {
  flex-direction: column;
}
.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span {
  margin: 10px;
  font-size: 30px;
}
.degree-section h2 {
  font-size: 40px;
}
#tmp-ul{
  list-style-position: inside;
  font-size: 14px;
  margin: 15px;
  line-height: 25px;
}
#tmp-ul li {
  border-bottom: 1px solid;
}
details{  
  cursor: pointer;
  background: rgba(255,255,255,0.05);
  padding: 20px;
  width: 320px;
  margin: 0 auto;
}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

#dataSection{
	width: 600px;
	margin: 0px auto;
	display: flex;
	align-content: center;
	flex-direction: column;
}

@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}